* {
  margin: 0;
  padding: 0;
  font-family: rajdhani;
  color: whitesmoke;

  text-align: center;
}

html {
  background: url(assets/post-launch.jpg) no-repeat center fixed;
  background-size: cover;
  background-position: -100px;
  background-color: black;
}

.nav-logo {
  font-size: 30px;
  font-weight: 800;
}

nav {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.582);
}

nav > ul > li {
  display: inline;
  font-size: 20px;
  padding: 10px;
}

body {
  width: 100%;
}

.compare-size {
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgb(34, 34, 34); */
}

.center-table {
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgb(34, 34, 34); */
}

th {
  padding: 10px;
  background-color: steelblue;
}

td {
  padding: 10px;
  background-color: rgba(10, 10, 39, 0.733);
}

h1 {
  font-family: Rajdhani;
}
