* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: whitesmoke;
  background-color: black;
  text-align: center;
}

.earth {
  position: absolute;
  bottom: -500px;
  left: 0px;
  opacity: 15%;
  border-radius: 20%;
}

.compare-size {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(34, 34, 34);
}

.center-table {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(34, 34, 34);
}

.chicxulub {
  max-width: 80%;
  max-height: 80%;
}

.chelyabinsk {
  max-width: 2%;
  max-height: 2%;
}

th {
  padding: 10px;
  background-color: steelblue;
}

td {
  padding: 10px;
}

h1 {
  font-family: Rajdhani;
}
